.button{
    -fx-display: inline-block;
    -fx-background-color: transparent;
    -fx-border-color: #fff;
    -fx-text-align: center;
    -fx-outline: none;
    -fx-text-decoration: none;
    -fx-transition: background-color 0.2s ease-out,
    -fx-border-color 0.2s ease-out;
    -fx-color:green;
}

.button:hover,
.button:active {
  -fx-background-color: #fff; /* fallback */
  -fx-background-color: rgba(255, 255, 255, 0.4);
  -fx-border-color: #fff; /* fallback */
  -fx-border-color: rgba(255, 255, 255, 0.4);
  -fx-transition: background-color 0.3s ease-in,
  -fx-border-color 0.3s ease-in;
}

.root {
    -fx-background-image: url("https://pngimage.net/wp-content/uploads/2018/05/app-background-png-5.png");
}

.background{
    -fx-background-image: url("https://pngimage.net/wp-content/uploads/2018/05/app-background-png-5.png");
}

#anchor{
    -fx-background-image: url("https://pngimage.net/wp-content/uploads/2018/05/app-background-png-5.png");
}
.fa {
  color : white;
}
